<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/CSS/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/CSS/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>CD Organizer</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
