@{
  Layout="Shared/_Layout.cshtml";
}

<h1>CD Information:</h1>
<form action="/" method="post" class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2" for="artist">Enter the Artist Name: </label>
    <div class-"col-md-10">
      <input id="artist" name="artist" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2" for="title">Enter the Title Name: </label>
    <div class-"col-md-10">
      <input id="title" name="title" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2" for="label">Enter the Label Name:</label>
    <div class-"col-md-10">
      <input id="label" name="label" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2" for="genre">Enter the Genre Here: </label>
    <div class-"col-md-10">
      <input id="genre" name="genre" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2" for="catalogIdentification">Enter the Catalog Number Here: </label>
    <div class-"col-md-10">
      <input id="catalogIdentification" name="catalogIdentification" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2" for="condition">Enter the Condition Here: </label>
    <div class-"col-md-10">
      <input id="condition" name="condition" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2" for="worth">Enter the Value Here: </label>
    <div class-"col-md-10">
      <input id="worth" name="worth" type="decimal">
    </div>
  </div>

  <button type="submit">List</button>
</form>
