@{
  Layout="Shared/_Layout.cshtml";
}

@if ( Model.Count > 0 ) {
  <h1>CD Collection</h1>
  <ul>
    @foreach(var item in Model)
    {
      <li><a href="/cds/@item.GetId()">@item.GetArtist()</a></li>
    }
  </ul>
} else {
  <h2>Start your collection!</h2>
}
<p><a href="/cds/new">Add a CD listing.</a></p>
<form action="/cds/cleared" method="post">
  <button type="submit" name="button">Clear All CDs</button>
</form>
